<!--TODO This is a reference HTML for what we might want to match to in one of the ATaR examples-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="print-pages">
    <div id="your-records" class="print-document">
        <div class="govuk-grid-row print-header">
            <div class="govuk-grid-column-one-third">
                <img class="crown-logo-atar" alt="HM Revenue and Customs"
                     src="data:image/png;">
            </div>
            <div class="govuk-grid-column-two-thirds">
                <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-!-margin-bottom-0 print-header__heading">
                    Your Advance Tariff Ruling application
                </h2>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h3 class="govuk-heading-m">For your records</h3>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-!-font-weight-bold">EORI</dt>
                    <dd class="stack">GB6723190</dd>
                </dl>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-!-font-weight-bold">Account name</dt>
                    <dd class="stack">Test Business</dd>
                </dl>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-!-font-weight-bold">Account address</dt>
                    <dd class="stack">Lorem Ipsum</dd>
                    <dd class="stack">Lorem Ipsum</dd>
                    <dd class="stack"></dd>
                    <dd class="stack"></dd>
                    <dd class="stack">Afghanistan</dd>
                </dl>
            </div>
            <div class="govuk-grid-column-one-half">
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-!-font-weight-bold">Contact name</dt>
                    <dd class="stack">Lorem Ipsum</dd>
                </dl>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-!-font-weight-bold">Contact email</dt>
                    <dd class="stack">lorem@ipsum.com</dd>
                </dl>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-!-font-weight-bold">Contact Phone</dt>
                    <dd class="stack">07777777777</dd>
                </dl>
                <dl class="govuk-summary-list govuk-summary-list--no-border">
                    <dt class="govuk-!-font-weight-bold">Date submitted</dt>
                    <dd class="stack">22 May 2024</dd>
                </dl>
            </div>
        </div>

        <div class="govuk-grid-row main-content">
            <div class="govuk-grid-column-full">

                <div class="information-box">
                    <p class="govuk-body hero-text">Your application reference number is<br>
                        <span class="reference-number">600000001</span>
                    </p>
                </div>

                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-two-thirds">
                        <h3 class="govuk-heading-m">What happens next</h3>

                        <p class="govuk-body">We try to issue ATaR decisions within 30 working days from the date that
                            the application is accepted. Although it can take up to 120 days, as per UK law. You can
                            sign in to Advance Tariff Rulings check the status of your application.</p>


                        <div class="govuk-warning-text">
                            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                            <strong class="govuk-warning-text__text">
                                <span class="govuk-warning-text__assistive">Warning</span>
                                Your application will not be processed until we receive your samples.
                            </strong>
                        </div>


                    </div>


                    <div class="govuk-grid-column-one-third">
                        <div class="about-this-result-box">
                            <div id="aboutThisResult" class="about-this-result">
                                <div class="date-of-result">
                                    <h2 class="govuk-heading-m">
                                        Sending samples</h2>
                                </div>

                                <div class="date-of-result decision-service-version">
                                    <div>
                                        <p class="govuk-body">
                                            You must label your sample with the application reference number</p>
                                    </div>
                                    <div>
                                        <p class="govuk-body govuk-!-font-weight-bold mb-2">600000001</p>
                                    </div>
                                </div>
                                <div>
                                    <dl>
                                        <dt>
                                            <p class="govuk-body">
                                                                <span class="govuk-!-font-weight-bold">Send your samples to
                                                                </span>
                                            </p>
                                        </dt>
                                        <dd class="govuk-!-margin-left-0">
                                            <p class="govuk-body">
                                                Tariff Classification Service<br> COVT<br> HM Revenue and Customs
                                            </p>
                                        </dd>
                                    </dl>
                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="print-document" id="print-document">
    <div class="govuk-grid-row print-header">
        <div class="govuk-grid-column-one-third">
            <img class="crown-logo-atar" alt="HM Revenue and Customs" src="data:image/png">
        </div>
        <div>
            <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-!-margin-bottom-0 print-header__heading">
                Your Advance Tariff Ruling application
            </h2>
        </div>
    </div>

    <div class="govuk-grid-row main-content">
        <div class="govuk-grid-column-full">

            <h3 class="govuk-heading-m">About the goods</h3>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Goods name</dt>
                    <dd class="govuk-summary-list__value">Testing</dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Goods details</dt>
                    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia tincidunt luctus. Duis id neque sit amet mauris mollis pharetra. Aenean vitae elit a risus accumsan dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam gravida quam ac nibh pharetra semper. Cras non nunc et ex luctus facilisis at vel arcu. Aliquam venenatis molestie turpis. Fusce cursus metus finibus eros molestie finibus. Fusce eget magna quis sem laoreet ultricies a ac dolor. Vivamus vitae odio sed magna pellentesque bibendum a nec quam.</dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Confidential information
                    </dt>
                    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia tincidunt luctus. Duis id neque sit amet mauris mollis pharetra. Aenean vitae elit a risus accumsan dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam gravida quam ac nibh pharetra semper. Cras non nunc et ex luctus facilisis at vel arcu. Aliquam venenatis molestie turpis. Fusce cursus metus finibus eros molestie finibus. Fusce eget magna quis sem laoreet ultricies a ac dolor. Vivamus vitae odio sed magna pellentesque bibendum a nec quam.</dd>
                </div>


                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Uploaded documents
                    </dt>
                    <dd class="govuk-summary-list__value">No</dd>
                </div>




                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Sending samples?</dt>
                    <dd class="govuk-summary-list__value">Yes
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Hazardous samples?</dt>
                    <dd class="govuk-summary-list__value">No
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Return the samples?</dt>
                    <dd class="govuk-summary-list__value">No
                    </dd>
                </div>




                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Have you found a commodity code for the item?</dt>
                    <dd class="govuk-summary-list__value">No</dd>
                </div>



                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Legal challenges</dt>
                    <dd class="govuk-summary-list__value">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lacinia tincidunt luctus. Duis id neque sit amet mauris mollis pharetra. Aenean vitae elit a risus accumsan dictum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam gravida quam ac nibh pharetra semper. Cras non nunc et ex luctus facilisis at vel arcu. Aliquam venenatis molestie turpis. Fusce cursus metus finibus eros molestie finibus. Fusce eget magna quis sem laoreet ultricies a ac dolor. Vivamus vitae odio sed magna pellentesque bibendum a nec quam.</dd>
                </div>


            </dl>
            <h3 class="govuk-heading-m">About other rulings</h3>
            <dl class="govuk-summary-list">

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Previous ruling reference</dt>
                    <dd class="govuk-summary-list__value">No</dd>
                </div>



                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Similar ruling references
                    </dt>
                    <dd class="govuk-summary-list__value">No</dd>
                </div>

            </dl>
        </div>
    </div>
</div>

</body>
</html>
